useDynLib(Hausal)

export(NetHawkes)
export(compute_baseline_intensities)
export(create_observation_matrix)
export(debias_Hawkes)
export(estimate_hawkes)
export(plot_count_intensities)
export(plot_interactions)
export(simulate_hawkes)
export(compute_omega)
export(NetHawkes_robust)
export(MultiHawkes_robust)
export(cvMultiHawkes)
